<style>

.fc-widget-content {
  padding:7px!important;
  border:1px solid #000000!important;
}

.fc-event  {
  background-color:#fff!important; 
	border-color:#FA0301!important;
	color:#FA1B2D!important;
  margin-top:10px!important;
}
.fc-event.blue  {
  background-color:#fff!important;
  border-color:#FA0301!important;
  color:#FA0301!important;
  /* Need two lines title red + svg, second black */
}
.fc-event.multiday  {
  background-color:#E8E8E8!important;
  /*border-color:#fff!important;*/
  color:#000!important;
}

.fc-state-highlight {
background-color:#ffffff!important;
border-color:#fff!important;
border:1px solid #222!important;
color:#000!important;
}
.fc-state-highlight .fc-day-number{
background-color:#FA0301!important;
}

.fc-widget-header {
background-color:#1a1a1a!important;
border-color:#1a1a1a!important;
color:#000!important;
}
.fc-cell-overlay {
background-color:#4835d9!important;
border-color:#1a1a1a!important;
color:#000!important;
opacity:0.4!important;
}
.fc-state-default {
padding:8px 11px!important;
color:#000!important;
border:1px solid #fff!important;
  height: auto!important;
  background: none!important;
  border-radius:none!important;
}
.fc-state-default.fc-corner-right {
border-top-right-radius: 0px!important;
border-bottom-right-radius: 0px!important;
}
.fc-state-default.fc-corner-left {
  border-top-left-radius: 0px!important;
border-bottom-left-radius: 0px!important;
}
.fc-state-hover {
background-color:#d96135!important;
border-color:#d96135!important;
color:#000!important;
}
.fc-state-active {
background-color:#d9c035!important;
border-color:#d9c035!important;
color:#000!important;
}
.fc-state-down {
background-color: #fff!important;
border-color:rgba(255,255,255,0.30)!important;
color:#000!important;
}
.fc-state-disabled {
border-color:#fff!important;
color:#000!important;
opacity:0.2!important;
}
.fc-other-month {
background-color:#fff!important;
opacity:0.3!important;
color: #7D7F86 !important;
}
.ec-col-list-wrap {display:none!important;}

/* Adding */
.fc-day-number{
	color:#000!important;
  border-style: none;
  width: 100%;
  text-align: left;
}

@media all and (max-width: 581px){
    .fc-header tr {
         display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;

       -webkit-flex-direction: row;
       -ms-flex-direction: row;
        flex-direction: row;

    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

       -webkit-justify-content: space-between;
       -ms-flex-pack: justify;
        justify-content: space-between;

        -webkit-flex-flow:row wrap;
        -ms-flex-flow:row wrap;
        flex-flow:row wrap;
    }

    .fc-header tr td {
      width: 50%;
      order: 2;
      -webkit-order:2;

    }

    .fc-header tr td.fc-header-center {
      width: 100%;
      order: 1;
      -webkit-order:1;
    }
}
</style>